In [55]:
import numpy as np
import pandas as pd

In [56]:
def pass_Cols():
    df = pd.read_excel("Pivot Practice.xlsx",sheet_name="Sheet5")
    return df.columns.tolist()

In [57]:
row = ['Country', 'Gender', 'Age-Group']
column = ['Year']
value = 'People'
def get_pt():
    df = pd.read_excel("Pivot Practice.xlsx",sheet_name="Sheet5")
    row = ['Country', 'Gender', 'Age-Group']
    column = ['Year']
    value = 'People'
    pivot_table = pd.pivot_table(df, values=value, index=row, columns=column, aggfunc='sum', fill_value=0, margins=True, margins_name='Total', observed=True)
    # Implement logic to fetch and process data
    # Return the data in JSON format
    return df,pivot_table

In [58]:
def update_data(i,j,val,pivot_table,df):
    Tr = pivot_table.index[i]
    Tc = pivot_table.columns[j]
    mask = pd.Series(True, index=df.index)
    if isinstance(Tr,tuple):
        idx=0
        for i in Tr:
            mask &= (df[row[idx]]==i)
            idx+=1
    else:
         mask &= (df[row[0]]==Tr)
    if isinstance(column,tuple):
        idx=0
        for i in Tc:
            mask &= (df[column[idx]]==i)
            idx+=1
    else:
         mask &= (df[column[0]]==Tc)
    # print(mask)
    df.loc[mask,value] = val
    df.to_excel("Pivot Practice.xlsx",sheet_name="Sheet5",index=False)
    return df

In [59]:
# def calculate_ratios_and_insert(total, country1):
    
#     df = pd.DataFrame(...)  
    
#     ratio1 = df.loc[(df['country'] == country1) & (df['gender'] == 'female'), 'year'].iloc[0]
#     ratio2 = df.loc[(df['country'] == country1) & (df['gender'] == 'female'), 'year'].iloc[0]
#     ratio3 = df.loc[(df['country'] == country1) & (df['gender'] == 'female'), 'year'].iloc[0]
    
#     total_ratio_sum = ratio1 + ratio2 + ratio3
    
#     ratios = [
#         (total * ratio1) / total_ratio_sum,
#         (total * ratio2) / total_ratio_sum,
#         (total * ratio3) / total_ratio_sum
#     ]
    
    
#     df = df.append({'year': ratios[0]}, ignore_index=True)
#     df = df.append({'year': ratios[1]}, ignore_index=True)
#     df = df.append({'year': ratios[2]}, ignore_index=True)
    
#     return df


# update_data(0, 0, 42, pivot_table, df)
# new_df = calculate_ratios_and_insert(24, 'country1')

In [60]:
df,pivot_table = get_pt()

In [61]:
pivot_table

Year                      2019  2020  2021   2022  2023  Total
Country Gender Age-Group
C1      Female 20-40      20.0   4.0  12.0    8.0  20.0   64.0
               40-60       0.0  12.0   4.0    6.0   2.0   24.0
               60-80       7.0  18.0  12.0   18.0   4.0   59.0
        Male   20-40       4.0  10.0   6.0   20.0   6.0   46.0
               40-60       6.0   4.0  16.0    8.0  10.0   44.0
               60-80       6.0  12.0   2.0   10.0  20.0   50.0
C2      Female 20-40       9.0   3.0   6.0    4.0   0.0   22.0
               40-60       8.0   5.0   1.0    3.0   8.0   25.0
               60-80       8.0   4.0   5.0    6.0   7.0   30.0
        Male   20-40      10.0   0.0   1.0    9.0   7.0   27.0
               40-60       8.0   0.0   5.0   10.0   0.0   23.0
               60-80       3.0   1.0  10.0    1.0   4.0   19.0
Total                     89.0  73.0  80.0  103.0  88.0  433.0

In [62]:
df = update_data(0,0,20,pivot_table,df)
df.to_excel("Pivot Practice.xlsx",sheet_name="Sheet5",index=False)

In [63]:
df

   Country  Gender Age-Group  Year  People
0       C1    Male     20-40  2019     4.0
1       C1    Male     40-60  2019     6.0
2       C1    Male     60-80  2019     6.0
3       C1  Female     20-40  2019    20.0
4       C1  Female     40-60  2019     0.0
5       C1  Female     60-80  2019     7.0
6       C2    Male     20-40  2019    10.0
7       C2    Male     40-60  2019     8.0
8       C2    Male     60-80  2019     3.0
9       C2  Female     20-40  2019     9.0
10      C2  Female     40-60  2019     8.0
11      C2  Female     60-80  2019     8.0
12      C1    Male     20-40  2020    10.0
13      C1    Male     40-60  2020     4.0
14      C1    Male     60-80  2020    12.0
15      C1  Female     20-40  2020     4.0
16      C1  Female     40-60  2020    12.0
17      C1  Female     60-80  2020    18.0
18      C2    Male     20-40  2020     0.0
19      C2    Male     40-60  2020     0.0
20      C2    Male     60-80  2020     1.0
21      C2  Female     20-40  2020     3.0
22      C2  Female     40-60  2020     5.0
23      C2  Female     60-80  2020     4.0
24      C1    Male     20-40  2021     6.0
25      C1    Male     40-60  2021    16.0
26      C1    Male     60-80  2021     2.0
27      C1  Female     20-40  2021    12.0
28      C1  Female     40-60  2021     4.0
29      C1  Female     60-80  2021    12.0
30      C2    Male     20-40  2021     1.0
31      C2    Male     40-60  2021     5.0
32      C2    Male     60-80  2021    10.0
33      C2  Female     20-40  2021     6.0
34      C2  Female     40-60  2021     1.0
35      C2  Female     60-80  2021     5.0
36      C1    Male     20-40  2022    20.0
37      C1    Male     40-60  2022     8.0
38      C1    Male     60-80  2022    10.0
39      C1  Female     20-40  2022     8.0
40      C1  Female     40-60  2022     6.0
41      C1  Female     60-80  2022    18.0
42      C2    Male     20-40  2022     9.0
43      C2    Male     40-60  2022    10.0
44      C2    Male     60-80  2022     1.0
45      C2  Female     20-40  2022     4.0
46      C2  Female     40-60  2022     3.0
47      C2  Female     60-80  2022     6.0
48      C1    Male     20-40  2023     6.0
49      C1    Male     40-60  2023    10.0
50      C1    Male     60-80  2023    20.0
51      C1  Female     20-40  2023    20.0
52      C1  Female     40-60  2023     2.0
53      C1  Female     60-80  2023     4.0
54      C2    Male     20-40  2023     7.0
55      C2    Male     40-60  2023     0.0
56      C2    Male     60-80  2023     4.0
57      C2  Female     20-40  2023     0.0
58      C2  Female     40-60  2023     8.0
59      C2  Female     60-80  2023     7.0

In [64]:
df,pivot_table = get_pt()

In [65]:
temp = pivot_table.to_dict(orient='split')

In [66]:
print(temp['index'])
print(temp['data'])
print(temp['columns'])
len(temp['index'][0])

[('C1', 'Female', '20-40'), ('C1', 'Female', '40-60'), ('C1', 'Female', '60-80'), ('C1', 'Male', '20-40'), ('C1', 'Male', '40-60'), ('C1', 'Male', '60-80'), ('C2', 'Female', '20-40'), ('C2', 'Female', '40-60'), ('C2', 'Female', '60-80'), ('C2', 'Male', '20-40'), ('C2', 'Male', '40-60'), ('C2', 'Male', '60-80'), ('Total', '', '')]
[[20.0, 4.0, 12.0, 8.0, 20.00000000000001, 64.00000000000001], [0.0, 12.0, 4.0, 6.000000000000001, 2.0, 24.0], [7.0, 18.0, 12.0, 18.0, 4.0, 59.0], [4.0, 10.0, 6.000000000000001, 20.00000000000001, 6.000000000000001, 46.000000000000014], [6.000000000000001, 4.0, 16.0, 8.0, 10.0, 44.0], [6.000000000000001, 12.0, 2.0, 10.0, 20.00000000000001, 50.000000000000014], [9.0, 3.0, 6.0, 4.0, 0.0, 22.0], [8.0, 5.0, 1.0, 3.0, 8.0, 25.0], [8.0, 4.0, 5.0, 6.0, 7.0, 30.0], [10.0, 0.0, 1.0, 9.0, 7.0, 27.0], [8.0, 0.0, 5.0, 10.0, 0.0, 23.0], [3.0, 1.0, 10.0, 1.0, 4.0, 19.0], [89.0, 73.0, 80.0, 103.00000000000001, 88.00000000000003, 433.0]]
[2019, 2020, 2021, 2022, 2023, 'Total']

3

In [67]:
temp['index']

[('C1', 'Female', '20-40'),
 ('C1', 'Female', '40-60'),
 ('C1', 'Female', '60-80'),
 ('C1', 'Male', '20-40'),
 ('C1', 'Male', '40-60'),
 ('C1', 'Male', '60-80'),
 ('C2', 'Female', '20-40'),
 ('C2', 'Female', '40-60'),
 ('C2', 'Female', '60-80'),
 ('C2', 'Male', '20-40'),
 ('C2', 'Male', '40-60'),
 ('C2', 'Male', '60-80'),
 ('Total', '', '')]

In [68]:
pivot_table

Year                      2019  2020  2021   2022  2023  Total
Country Gender Age-Group
C1      Female 20-40      20.0   4.0  12.0    8.0  20.0   64.0
               40-60       0.0  12.0   4.0    6.0   2.0   24.0
               60-80       7.0  18.0  12.0   18.0   4.0   59.0
        Male   20-40       4.0  10.0   6.0   20.0   6.0   46.0
               40-60       6.0   4.0  16.0    8.0  10.0   44.0
               60-80       6.0  12.0   2.0   10.0  20.0   50.0
C2      Female 20-40       9.0   3.0   6.0    4.0   0.0   22.0
               40-60       8.0   5.0   1.0    3.0   8.0   25.0
               60-80       8.0   4.0   5.0    6.0   7.0   30.0
        Male   20-40      10.0   0.0   1.0    9.0   7.0   27.0
               40-60       8.0   0.0   5.0   10.0   0.0   23.0
               60-80       3.0   1.0  10.0    1.0   4.0   19.0
Total                     89.0  73.0  80.0  103.0  88.0  433.0

In [69]:
def subtotals(temp):
    index = temp['index']
    data = temp['data']
    column = temp['columns']
    idx = 0
    mod = len(index[0])-1
    for i in range (mod):
        print(index[0][:i+1])

subtotals(temp)

('C1',)
('C1', 'Female')

In [70]:
df,pt = get_pt()

In [71]:
df

   Country  Gender Age-Group  Year  People
0       C1    Male     20-40  2019     4.0
1       C1    Male     40-60  2019     6.0
2       C1    Male     60-80  2019     6.0
3       C1  Female     20-40  2019    20.0
4       C1  Female     40-60  2019     0.0
5       C1  Female     60-80  2019     7.0
6       C2    Male     20-40  2019    10.0
7       C2    Male     40-60  2019     8.0
8       C2    Male     60-80  2019     3.0
9       C2  Female     20-40  2019     9.0
10      C2  Female     40-60  2019     8.0
11      C2  Female     60-80  2019     8.0
12      C1    Male     20-40  2020    10.0
13      C1    Male     40-60  2020     4.0
14      C1    Male     60-80  2020    12.0
15      C1  Female     20-40  2020     4.0
16      C1  Female     40-60  2020    12.0
17      C1  Female     60-80  2020    18.0
18      C2    Male     20-40  2020     0.0
19      C2    Male     40-60  2020     0.0
20      C2    Male     60-80  2020     1.0
21      C2  Female     20-40  2020     3.0
22      C2  Female     40-60  2020     5.0
23      C2  Female     60-80  2020     4.0
24      C1    Male     20-40  2021     6.0
25      C1    Male     40-60  2021    16.0
26      C1    Male     60-80  2021     2.0
27      C1  Female     20-40  2021    12.0
28      C1  Female     40-60  2021     4.0
29      C1  Female     60-80  2021    12.0
30      C2    Male     20-40  2021     1.0
31      C2    Male     40-60  2021     5.0
32      C2    Male     60-80  2021    10.0
33      C2  Female     20-40  2021     6.0
34      C2  Female     40-60  2021     1.0
35      C2  Female     60-80  2021     5.0
36      C1    Male     20-40  2022    20.0
37      C1    Male     40-60  2022     8.0
38      C1    Male     60-80  2022    10.0
39      C1  Female     20-40  2022     8.0
40      C1  Female     40-60  2022     6.0
41      C1  Female     60-80  2022    18.0
42      C2    Male     20-40  2022     9.0
43      C2    Male     40-60  2022    10.0
44      C2    Male     60-80  2022     1.0
45      C2  Female     20-40  2022     4.0
46      C2  Female     40-60  2022     3.0
47      C2  Female     60-80  2022     6.0
48      C1    Male     20-40  2023     6.0
49      C1    Male     40-60  2023    10.0
50      C1    Male     60-80  2023    20.0
51      C1  Female     20-40  2023    20.0
52      C1  Female     40-60  2023     2.0
53      C1  Female     60-80  2023     4.0
54      C2    Male     20-40  2023     7.0
55      C2    Male     40-60  2023     0.0
56      C2    Male     60-80  2023     4.0
57      C2  Female     20-40  2023     0.0
58      C2  Female     40-60  2023     8.0
59      C2  Female     60-80  2023     7.0

In [72]:
column

['Year']

In [90]:
mask = df['Year']==2023
temp = df[mask]
temp.loc[mask,'Year']= '2024'
final_df = pd.concat([df,temp],axis=0)

C:\Users\tusharawasthi\AppData\Local\Temp\ipykernel_11564\1086539279.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2024' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  temp.loc[mask,'Year']= '2024'

In [91]:
final_df.head(10)

  Country  Gender Age-Group  Year  People
0      C1    Male     20-40  2019     4.0
1      C1    Male     40-60  2019     6.0
2      C1    Male     60-80  2019     6.0
3      C1  Female     20-40  2019    20.0
4      C1  Female     40-60  2019     0.0
5      C1  Female     60-80  2019     7.0
6      C2    Male     20-40  2019    10.0
7      C2    Male     40-60  2019     8.0
8      C2    Male     60-80  2019     3.0
9      C2  Female     20-40  2019     9.0

In [92]:
final_df.tail(10)

   Country  Gender Age-Group  Year  People
50      C1    Male     60-80  2024    20.0
51      C1  Female     20-40  2024    20.0
52      C1  Female     40-60  2024     2.0
53      C1  Female     60-80  2024     4.0
54      C2    Male     20-40  2024     7.0
55      C2    Male     40-60  2024     0.0
56      C2    Male     60-80  2024     4.0
57      C2  Female     20-40  2024     0.0
58      C2  Female     40-60  2024     8.0
59      C2  Female     60-80  2024     7.0

In [80]:
temp

   Country  Gender Age-Group  Year  People
48      C1    Male     20-40  2024     6.0
49      C1    Male     40-60  2024    10.0
50      C1    Male     60-80  2024    20.0
51      C1  Female     20-40  2024    20.0
52      C1  Female     40-60  2024     2.0
53      C1  Female     60-80  2024     4.0
54      C2    Male     20-40  2024     7.0
55      C2    Male     40-60  2024     0.0
56      C2    Male     60-80  2024     4.0
57      C2  Female     20-40  2024     0.0
58      C2  Female     40-60  2024     8.0
59      C2  Female     60-80  2024     7.0