In [179]:
import pandas as pd

In [180]:
row = ['Country', 'Gender', 'Age-Group']
column = ['Year']
value = 'People'
def get_pt():
    df = pd.read_excel("Pivot Practice.xlsx",sheet_name="Sheet5")
    row = ['Country', 'Gender', 'Age-Group']
    column = ['Year']
    value = 'People'
    pivot_table = pd.pivot_table(df, values=value, index=row, columns=column, aggfunc='sum', fill_value=0, margins=True, margins_name='Total', observed=True)
    # Implement logic to fetch and process data
    # Return the data in JSON format
    return df,pivot_table

In [181]:
df,pt = get_pt()

In [182]:
temp = pt.to_dict(orient='split')

In [183]:
temp

{'index': [('C1', 'Female', '20-40'),
  ('C1', 'Female', '40-60'),
  ('C1', 'Female', '60-80'),
  ('C1', 'Male', '20-40'),
  ('C1', 'Male', '40-60'),
  ('C1', 'Male', '60-80'),
  ('C2', 'Female', '20-40'),
  ('C2', 'Female', '40-60'),
  ('C2', 'Female', '60-80'),
  ('C2', 'Male', '20-40'),
  ('C2', 'Male', '40-60'),
  ('C2', 'Male', '60-80'),
  ('Total', '', '')],
 'columns': [2019, 2020, 2021, 2022, 2023, 'Total'],
 'data': [[20, 2, 6, 4, 10, 42],
  [0, 6, 2, 3, 1, 12],
  [7, 9, 6, 9, 2, 33],
  [4, 5, 3, 10, 3, 25],
  [6, 2, 8, 4, 5, 25],
  [6, 6, 1, 5, 10, 28],
  [9, 3, 6, 4, 0, 22],
  [8, 5, 1, 3, 8, 25],
  [8, 4, 5, 6, 7, 30],
  [10, 0, 1, 9, 7, 27],
  [8, 0, 5, 10, 0, 23],
  [3, 1, 10, 1, 4, 19],
  [89, 43, 54, 68, 57, 311]]}

In [184]:
def subtotals(pt,df,row,col,value):
    temp = pt.to_dict(orient='split')
    index_ = temp['index']
    data_ = temp['data']
    column = temp['columns']
    res_index = []
    res_data = []
    curr_idx=0
    mod = len(index_[0])-1    
    for i in range (mod):
        lst = list(index_[curr_idx][:i+1])
        data = []
        mask = pd.Series(True, index=df.index)
        for j in range (len(lst)):
            mask &= (df[row[j]]==lst[j])
        for j in range (len(column)):
            temp = mask&(df[col[0]]==column[j])
            data.append(df.loc[temp,value].sum())
        data[-1]=(df.loc[mask,value].sum())
        res_index.append(index_[i][:i+1]+('',)*(mod-len(index_[i][:i+1])+1))
        res_data.append(data)
    
    res_index.append(index_[curr_idx])
    res_data.append(data_[0]) 
        
    while curr_idx<(len(data_)-2):
        for i in range (mod):
            if index_[curr_idx][i]==index_[curr_idx+1][i]:
                pass
            else:
                lst = list(index_[curr_idx+1][:i+1])
                data = []
                mask = pd.Series(True, index=df.index)
                for j in range (len(lst)):
                    mask &= (df[row[j]]==lst[j])
                for j in range (len(column)):
                    temp = mask&(df[col[0]]==column[j])
                    data.append(df.loc[temp,value].sum())
                res_index.append((index_[curr_idx+1][:i+1]+('',)*(mod-len(index_[curr_idx+1][:i+1])+1)))
                res_data.append(data)
        res_index.append(index_[curr_idx+1])
        res_data.append(data_[curr_idx+1])
        curr_idx+=1
    res_index.append(index_[-1])
    res_data.append(data_[-1])
    return {'columns':column ,'data':res_data ,'index':res_index, 'rows':row,'allcolumns':df.columns.tolist()}

result = subtotals(pt,df,row,column,value)

In [185]:
result

{'columns': [2019, 2020, 2021, 2022, 2023, 'Total'],
 'data': [[43, 30, 26, 35, 31, 165],
  [27, 17, 14, 16, 13, 87],
  [20, 2, 6, 4, 10, 42],
  [0, 6, 2, 3, 1, 12],
  [7, 9, 6, 9, 2, 33],
  [16, 13, 12, 19, 18, 0],
  [4, 5, 3, 10, 3, 25],
  [6, 2, 8, 4, 5, 25],
  [6, 6, 1, 5, 10, 28],
  [46, 13, 28, 33, 26, 0],
  [25, 12, 12, 13, 15, 0],
  [9, 3, 6, 4, 0, 22],
  [8, 5, 1, 3, 8, 25],
  [8, 4, 5, 6, 7, 30],
  [21, 1, 16, 20, 11, 0],
  [10, 0, 1, 9, 7, 27],
  [8, 0, 5, 10, 0, 23],
  [3, 1, 10, 1, 4, 19],
  [89, 43, 54, 68, 57, 311]],
 'index': [('C1', '', ''),
  ('C1', 'Female', ''),
  ('C1', 'Female', '20-40'),
  ('C1', 'Female', '40-60'),
  ('C1', 'Female', '60-80'),
  ('C1', 'Male', ''),
  ('C1', 'Male', '20-40'),
  ('C1', 'Male', '40-60'),
  ('C1', 'Male', '60-80'),
  ('C2', '', ''),
  ('C2', 'Female', ''),
  ('C2', 'Female', '20-40'),
  ('C2', 'Female', '40-60'),
  ('C2', 'Female', '60-80'),
  ('C2', 'Male', ''),
  ('C2', 'Male', '20-40'),
  ('C2', 'Male', '40-60'),
  ('C2', 'Male', '60-80'),
  ('Total', '', '')],
 'rows': ['Country', 'Gender', 'Age-Group'],
 'allcolumns': ['Country', 'Gender', 'Age-Group', 'Year', 'People']}